#chest {
  background-image: url("assets/images/card front/1-Up.png"); 
}

#tencoin {
    background-image: url("assets/images/card front/10 Coin.png"); 
}

#twentycoin {
    background-image: url("assets/images/card front/20 Coin.png");
}

#flower {
    background-image: url("assets/images/card front/Fire Flower.png");
}

#mushroom {
    background-image: url("assets/images/card front/Mushroom.png");
}

#star {
    background-image: url("assets/images/card front/Star.png");
}
