 /* Child Element */
  main {
    background-color: rgb(53, 0, 121);
    border: 20px;
    border-style: solid;
    border-color: black;
    padding: 40px;
  }

  body {
    border: 5px;
    border-color: black;
    padding: 40px;
  }

  .card {
    width: 135px;
    height: 200px;
  }

  .container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

 


  

  
 